* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: montserrat;
  text-decoration: none;
  
}
body,
input,
textarea,
button {
  font: 400 1rem "montserrat", sans-serif;
}
:root {
  --background: #7eaeb2;
  --form-back: #ededed;
  --header: #0b1742;
  --footer: #081645;
  --text-color: #dee0e6;
  --form-font: #151b2c;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

.menu {
  display: flex;

  align-items: center;
  height: 7.8rem;
  width: 100vw;
  background: var(--header);
}

.menu-text a:first-child {
  padding-left: 3.5rem;
}
.menu-text a {
  color: var(--text-color);
  padding: 10px;
  font-size: 1rem;
  
}
.menu-text a:last-child{
  margin-right: 4rem;
}

.menu img {
  display: flex;

  height: 3.5rem;
  width: auto;
  margin-left: 14rem;
}




.contact-wrapper{
  display: flex;
  height: 3rem;
  background: #64f4ee;
  align-items: center;
  width: 20rem;
}
.contact{
  display: flex;
  margin: 0;
}

.contact img{
 margin: 0 5px 0 5px;
 padding: 0;
height: 18px;
width: 15px;
color: #241f11;
}
.contact p{
  display: inline;
  margin: 0;
  padding: 0;

}

body {
  background-color: var(--form-back);
}
.banner {
  background-color: var(--background);
  height: 38.5rem;
}

.banner > img {
  width: 100vw;
  overflow-x: hidden;
}
.banner img:last-child {
  height: 30rem;
  width: auto;
  margin-left: 61rem;
  margin-top: -25rem;
}

.form-container {
  background-image: url("../../media/aside.png");
  background-repeat: no-repeat;
  background-size: auto;
  display: flex;
  background-color: var(--form-back);
  flex-direction: column;
}
.form-section-area {
  display: flex;
  margin: 0rem 10rem 0;
}

.form-section-area p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--form-font);
  font-weight: 400;
  padding: 6rem 8rem;
  text-align: center;
}
.form-section-area p strong {
  font-weight: bold;
  color: var(--form-font);
}
.form-box {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form-box h1 {
  background: var(--form-font);
  color: #64f4ee;
  width: 37.5rem;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0.5rem;
}

.form-page {
  width: 37.5rem;
  height: 21rem;
  background-color: var(--form-back);
  border: 1px solid #151b2c;
  border-radius: 0 0 10px 10px;
}

.form-input {

  display: flex;
  
  flex-wrap: wrap;
  justify-content: center;
  
}

.form-input input {
  align-items: center;
  margin: 1rem;
  border: none;
  height: 2rem;
  border-radius: 10px;
}

textarea{
  border: none;
  border-radius: 10px;
  resize: none;
  margin-top: 1rem;
  height: 5rem;
  width: 31.8rem;  
}


.form-page button {
  width: 11rem;
  height: 2.5rem;
  background: var(--footer);
  color: #64f4ee;
  border-radius: 10px;
  text-decoration: none;
  display: inline-block;
  border: none;
  transition: filter 0.2s;
  cursor: pointer;
  margin: 2rem 12.3rem;
}

.form-page button:hover {
  filter: brightness(0.9);
}

.final-logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.final-logo img {
  margin:1rem 0;
  height: 9rem;
  width: 37.5rem;
  margin-bottom: -1.5rem;
}

footer {
  background-color: var(--background);
  height: 16.75rem;
  display: flex;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-area {
  margin-top: 3rem;
  width: 100vw;
  height: 16rem;
  background: var(--footer);
 
}


.logo-area img {  
  margin-top: 5rem;
  width: 19.75rem;
  height: 4.5rem;
 
}

.logo-area p {
  color: #FFFFFF;
  font: 1rem;
  font-weight: 400;
  padding: 1rem;
}
.logo-area strong{
  color:#1adcd5;
  font-weight: 600;

}

.info-bar{

  margin-top: 2.1rem;
  height:2.5rem;
  width: 100vw;
  background: #64f4ee;
}

.wrapper-last-bar{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.info-bar p{
 padding: 0.4rem;
 margin: 0.4rem;
}

.info-bar img{
  height: 12px;
  width: 12px;
  margin-right: 3px;
}





